apiVersion: v1
kind: Service
metadata:
  name: produtor-de-graos
spec:
  selector:
    app: produtor-de-graos
  ports:
    - protocol: TCP
      port: 50051
      targetPort: 50051
  clusterIP: None

---
apiVersion: v1
kind: Service
metadata:
  name: produtor-de-agua
spec:
  selector:
    app: produtor-de-agua
  ports:
    - protocol: TCP
      port: 50052
      targetPort: 50052
  clusterIP: None

---
apiVersion: v1
kind: Service
metadata:
  name: produtor-de-farinha
spec:
  selector:
    app: produtor-de-farinha
  ports:
    - protocol: TCP
      port: 50053
      targetPort: 50053
  clusterIP: None

---
apiVersion: v1
kind: Service
metadata:
  name: produtor-de-pao
spec:
  selector:
    app: produtor-de-pao
  ports:
    - protocol: TCP
      port: 50054
      targetPort: 50054
  clusterIP: None

